:root{
    --max-width:84.625rem;
    --color-primary: white;
    --secondary-color: #A5A5A5;
    --third-color: black
}

html, body {
    font-size: 16px;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    top: 0;

}

.btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-primary);

}
.btn-primary {
    border:1px solid #08A6E4;
    background-color: #08A6E4;
    border-radius: 40px;
    padding: 1.375rem 9.8125rem;
    box-shadow: 5px 10px 14px #07ACE629;
    text-align: center;
    width: 100%;
    max-width: 27.5rem;
    height: 100%;
    max-height: 4.1875rem;

}

.img_bg {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin-top: 0.9375rem;
}

.header {
    box-shadow: 0 3px 6px #00000029;

}
.header .header__wrapper {
    max-width: var(--max-width);
    margin-inline: 8.5rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

}

.logo {
}
.logo .logo__text {
    font-family: "Raleway", sans-serif;
    color: #08A6E4;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1.0625rem;

}

.mainMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 34rem;

}
.mainMenu .mainMenu__item {
    color: var(--secondary-color);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 0.6875rem;
    display: inline-block;
    text-align: center;
    padding-top: 1.75rem;
    padding-bottom: 1.6875rem;
    padding-inline: 7px;
    letter-spacing: 0.205rem;
}

.mainMenu .mainMenu__item.main.Menu__item--active,
.mainMenu .mainMenu__item:hover {
    color: var(--third-color);
    border-bottom: 4px solid #08A6E4;
}


.box__wrapper {
    margin: auto;
}


.hero {
    position: relative;
    top: 8.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero .hero__box {

}

.hero .hero__hdl {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 3.0625rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.25rem;
}
.hero .hero__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: calc(2.375rem + 1.375rem);
}

.hero .hero__link {
}

/*statistic section*/

.statistics {
    width: 100%;
}

.statistics__container {
    max-width: 51.45rem;
    margin-top: 0.75rem;
    margin-bottom: 7.5625rem;
    margin-inline: auto;

}

.statistics .statistics__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2.25rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 6.25rem;
}

.statistics .statistics__box {
    display: flex;
    justify-content: space-between;
}

.statistics__single {
    max-width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.statistics__single:first-child .statistics__circle {
    width: 3.9375rem;
    height: 3.9375rem;
    background-color: #FB3B64;
    border-radius: 50px;
}

.statistics__single .statistics__circle {
    position: relative;
}

.statistics__single .statistics__img {
    position: absolute;
}

.statistics__single:first-child .statistics__img {
    top: 0;
    left: 45%;
}

.statistics__single:nth-child(2) .statistics__circle {
    width: 3.9375rem;
    height: 3.9375rem;
    background-color: #08A6E4;
    border-radius: 50px;
}

.statistics__single:nth-child(2) .statistics__img {
    top: 12px;
    left: 35%;
}

.statistics__single:last-child .statistics__circle {
    width: 3.9375rem;
    height: 3.9375rem;
    background-color: #55DFB4;
    border-radius: 50px;
}

.statistics__single:last-child .statistics__img {
    top: 7px;
    left: 35%;
}

.statistics__single .statistics__number {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
    letter-spacing: 5.96px;
    margin-top: 0.8125rem;
}

.statistics__single .statistics__description {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1.1875rem;
    padding-inline: 15px;
    padding-bottom: 10px;
}

/*benefits section*/


.benefits {}
.benefits__container {}
.benefits .benefits__single {}

.benefits .benefits__single.benefits__single--notebook {}
.benefits .benefits__text {}
.benefits .benefits__text .benefits__title {}
.benefits .benefits__text .benefits__description {}
.benefits .benefits__image {}
.benefits .benefits__image .image__notebook {}

.benefits .benefits__single.benefits__single--phone {}
.benefits .benefits__image .image__phone {}

.benefits .benefits__single--solo {}

.benefits .image__solo {}
.benefits .image__solo .image__trumpet {}






















