.benefits {
  background-color: #F7F7F7;
  padding: 100px 0;
}
.benefits__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  width: 1352px;
  margin: 0 auto;
}
.benefits__single {
  background-color: white;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2.3125rem;
  margin-top: 0;

}

.benefits__single--notebook {
  width: 100%;
  height: 100%;
  display: flex;

}

.benefits__text {
  max-width: 26rem;
  text-align: left;
  margin: 5.625rem 2.25rem;
}

.benefits__single--notebook {
  .benefits__text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: #FB3B64;
    display: block;
    margin-top: 50px;
  }
}

  .benefits__text.benefits__text--solo {
    max-width: none;
    margin: 70px 35px;
  }

  .benefits__text {
    .benefits__title {
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 2.25rem;
    }
  }

  .benefits__text {
    .benefits__description {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 1rem;
      margin-top: 30px;
      line-height: 1.375rem;
    }
  }

  .benefits__image {
    position: relative;
    z-index: 20;
  }

  .benefits__image {
    .image__notebook {
      margin-right: 7.375rem;
      margin-bottom: 2.375rem;
      width: 386px;
      height: auto;
      position: relative;
      z-index: 20;
    }
  }

  .benefits__single--notebook {
    .benefits__image::before {
      content: "";
      display: block;
      width: 11.25rem;
      height: 11.25rem;
      background-color: #FB3B64;
      border-radius: 41px;
      position: absolute;
      transform: rotate(45deg);
      top: -40px;
      right: 20%;
    }
  }

  .benefits__single--notebook {
    .benefits__image img {
      width: 386px;
      height: auto;
    }
  }

  .benefits__single--phone {
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
    box-sizing: border-box;
    padding: 0 20px 0 70px;
  }

  .benefits__image {
    .image__phone {
      width: 26.625rem;
      height: 20.5rem;
      position: relative;
    }
  }

  .benefits__single--phone {
    .benefits__image::before {
      content: "";
      display: block;
      width: 20rem;
      height: 20rem;
      background-color: #07ACE6;
      border-radius: 50%;
      position: absolute;
      top: -40px;
      right: 20%;
      z-index: -10;
      left: -10px;
    }
  }

  .benefits__single--phone {
    .benefits__text {
      margin: 70px 0;
    }
  }

  .benefits__single--phone {
    .benefits__title {
      max-width: 15.375rem;
      max-height: 5.25rem;
      width: 100%;
      height: 100%;
    }
  }

  .benefits__single--phone {
    .benefits__text::after {
      content: "";
      width: 332px;
      height: 4px;
      background-color: #08A6E4;
      display: block;
      margin-top: 50px;
    }
  }

  .benefits__single.benefits__single--solo {
    width: 38.9375rem;
    margin-bottom: 0;
  }

  .benefits__double {
    display: flex;
    width: 100%;
  }



  .benefits__single--solo {
    .benefits__text::after {
      content: "";
      width: 332px;
      height: 4px;
      background-color: #55DFB4;
      display: block;
      margin-top: 50px;
    }
  }

  .image__solo {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #55DFB4;
    border: none;
    margin-left: 60px;
    border-radius: 5px;
  }

  .image__solo {
    .image__trumpet {
    width: 440px;
    padding-top: 60px;
  }
}
